.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 1 20px;
    color: white;
}
.links {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1 20px;
    
    
}
a {
    color: white;
    text-decoration: none;
}